.candycrush {
  position: absolute;
  
  width: 450px;
  height: 550px;

  background: white;

  border: 1px solid black;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;

  background-image: url('candy-crush-background.png');
  background-size: cover;
  background-repeat: no-repeat;

  
}



.grid {
  width: 420px; 
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(109, 127, 151, 0.5);
  padding: 5px;
  border-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 0 #fff;
  color: #85796b;
}

.grid div {
  width: 52.5px; 
  height: 52.5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.invisible {
  background-color: white;
}


.score-board {
background-color: pink;
border-radius: 10px;
min-width: 50px;
justify-content: center;


display: flex;
padding: 5px;


background-image: linear-gradient(#FFB6C1, #FFC0CB);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
color: rgb(255, 255, 255);


box-shadow: inset 0 -3em 3em #f37d8f;
border: 2px solid #d76f7e;
 
}



